body { 
	background: #fbf7e6; 
	font-size: 100%; 
	margin: 10; 
	padding: 0; 
	background-image: url('images/wood.jpg');
	font-family: "Courier New", Courier, monospace; 
	color: #A08020;
}

.centre-content {
	margin-left:  199px;
	margin-right: 199px;
}

a:link {
	color: #A0A0A0;
}

a:visited {
	color: #A0A0A0;
}

a:hover {
	color: #EEEEEE;
}

a:active {
	color: #A0A0A0;
}
 