body { 
	background: #fbf7e6; 
	font-size: 100%; 
	line-height: 1.125em; 
	margin: 10; 
	padding: 0; 
	font-family: Helvetica, Arial, sans-serif; 
}

.centre-content {
	margin-left:  199px;
	margin-right: 199px;
}
 