/* Basic reset and minimal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    padding: 0.5em;
    line-height: 1.6;
    color: #333;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header Menu*/

header {
    display: flex;
    width: 100%;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
}

.mike {
    font-family: 'Inter', sans-serif;
    font-size: 3em;
    text-decoration: none;
}

.menubar {
    display: flex;
    gap: 1em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.menubar a {
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}



/* Footer */

footer {
    display: flex;
    width: 100%;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
}